<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ItemsSearchResponseItem</key>
	<dict>
		<key>elementPath</key>
		<dict>
			<key>num_iid</key>
			<string>num_iid</string>
			<key>pic_url</key>
			<string>pic_url</string>
			<key>title</key>
			<string>title</string>
			<key>price</key>
			<string>price</string>
			<key>volume</key>
			<string>volume</string>
			<key>post_fee</key>
			<string>post_fee</string>
			<key>promoted_service</key>
			<string>promoted_service</string>
			<key>locationCity</key>
			<string>location/city</string>
			<key>locationState</key>
			<string>location/state</string>
		</dict>
		<key>objectName</key>
		<string>ItemModel</string>
		<key>rootPath</key>
		<string>//items_search_response/item_search/items/item</string>
	</dict>
	<key>TkItemsGetResponseItem</key>
	<dict>
		<key>elementPath</key>
		<dict>
			<key>num_iid</key>
			<string>num_iid</string>
			<key>pic_url</key>
			<string>pic_url</string>
			<key>title</key>
			<string>title</string>
			<key>price</key>
			<string>price</string>
			<key>volume</key>
			<string>volume</string>
			<key>item_location</key>
			<string>item_location</string>
		</dict>
		<key>objectName</key>
		<string>TkItemModel</string>
		<key>rootPath</key>
		<string>//taobaoke_items_get_response/taobaoke_items/taobaoke_item</string>
	</dict>
	<key>ItemsSearchResponseCategory</key>
	<dict>
		<key>elementPath</key>
		<dict>
			<key>category_id</key>
			<string>category_id</string>
			<key>count</key>
			<string>count</string>
			<key>title</key>
			<string>title</string>
		</dict>
		<key>objectName</key>
		<string>CategoryModel</string>
		<key>rootPath</key>
		<string>//items_search_response/item_search/item_categories/item_category</string>
	</dict>
	<key>UserGetResponse</key>
	<dict>
		<key>elementPath</key>
		<dict>
			<key>user_id</key>
			<string>user_id</string>
			<key>avatar</key>
			<string>avatar</string>
			<key>nick</key>
			<string>nick</string>
			<key>buyer_credit_score</key>
			<string>buyer_credit/score</string>
			<key>seller_credit_score</key>
			<string>seller_credit/score</string>
			<key>buyer_credit_level</key>
			<string>buyer_credit/level</string>
			<key>seller_credit_level</key>
			<string>seller_credit/level</string>
		</dict>
		<key>objectName</key>
		<string>UserModel</string>
		<key>rootPath</key>
		<string>//user_get_response/user</string>
	</dict>
</dict>
</plist>
